[submodule "emfviews"]
	path = emfviews
	url = https://github.com/atlanmod/emfviews.git
	branch = load-epsilon-models
[submodule "NeoEMF"]
	path = NeoEMF
	url = https://github.com/SOM-Research/NeoEMF.git
	branch = graph-long-list-support
[submodule "EMC-EMFViews"]
	path = EMC-EMFViews
	url = https://github.com/SOM-Research/EMC-EMFViews.git
[submodule "emc-neoemf"]
	path = emc-neoemf
	url = https://github.com/gdaniel/emc-neoemf.git
